{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1 style="display: inline-block">Hi, {{ current_user.username }}!</h1>
    <span class="pull-right">
        <button onclick="generateFile()" id="generate-file" class="btn btn-lg btn-primary">Generate File</button>
        <a href="#" target="_blank" id="download-button" class="btn btn-danger btn-lg" download style="display:none">Download</a>
    </span>

    <div class="row">
        <div class="col-xs-4">
            <table class="table table-hover">
                <tr>
                    <td>
                        <a href="{{ url_for('compose') }}">compose</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="{{ url_for('index') }}">inbox</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="{{ url_for('sentbox') }}">sentbox</a>
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-xs-8">
            {% for mail in mails %}
            <table class="table table-hover">
                <tr>
                    <td>
                        <div><p> From: <a href="{{ url_for('get_mail', mailid=mail.sender) }}">{{ mail.sender }}</a> <span class="pull-right">{{ moment(mail.timestamp).calendar() }}</span><br> <b>{{ remove_html_tags(mail.body) }}</b></p></div>
                        {% if mail.checked_in %}
                        {% else %}
                        <div>
                            <form method="" action="{{url_for('read', id=mail.id)}}">
                                {{ form.hidden_tag() }}
                                {{ form.read() }} {{ form.read.label }}
                                <input type="submit" name= "{{mail.id}}"value="Read">
                            </form>
                        </div>
                        {% endif %}
                    </td>
                </tr>
            </table>
            {% endfor %}
            <nav aria-label="...">
                <ul class="pager">
                    <li class="previous{% if not prev_url %} disabled{% endif %}">
                        <a href="{{ prev_url or '#' }}">
                            <span aria-hidden="true">&larr;</span> Newer mails
                        </a>
                    </li>
                    <li class="next{% if not next_url %} disabled{% endif %}">
                        <a href="{{ next_url or '#' }}">
                            Older mails <span aria-hidden="true">&rarr;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <script type="text/javascript">
        const generateFile = () =>{
        let host = window.location.host
        fetch(`http://${host}/generate_file`)
        .then(response => response.json())
        // .then(result=>getDownloadModal(result['url']));
        .then(result=>getDownloadModal(result['id']))
        }
        const getDownloadModal = (task_id) => {
        fetch(`http://localhost:5000/get_file/${task_id}`)
        .then(res=>res.json())
        .then(result=>{
            download_url = result['url']
            console.log(download_url)
            let downloadButton = document.querySelector('#download-button')
            let generateButton = document.querySelector('#generate-file')
            generateButton.parentNode.removeChild(generateButton)
            downloadButton.setAttribute('href', download_url)
            downloadButton.style.display = "inline"
        })
        }


    </script>



{% endblock %}



