{% extends "base.html" %}

{% block app_content %}
    <h1>Search Results</h1>
    {% for mail in mails %}
    <table class="table table-hover">
        <tr>
            <td>
                <div><p> From: {{ mail.sender }} <span class="pull-right">{{ moment(mail.timestamp).calendar() }}</span><br> <b>{{ remove_html_tags(mail.body) }}</b></p></div>
            </td>
        </tr>
    </table>
    {% endfor %}
    <nav aria-label="...">
        <ul class="pager">
            <li class="previous{% if not prev_url %} disabled{% endif %}">
                <a href="{{ prev_url or '#' }}">
                    <span aria-hidden="true">&larr;</span>
                    Previous results
                </a>
            </li>
            <li class="next{% if not next_url %} disabled{% endif %}">
                <a href="{{ next_url or '#' }}">
                    Next results
                    <span aria-hidden="true">&rarr;</span>
                </a>
            </li>
        </ul>
    </nav>
{% endblock %}