{% extends "base.html" %}


{% block app_content %}
    <h1>Hi, {{ current_user.username }}!</h1>
    <h2>SentBox</h2>
    <div class="row">
        <div class="col-xs-4">
                <table class="table table-hover">
                    <tr>
                        <td>
                            <a href="{{ url_for('compose') }}">compose</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="{{ url_for('index') }}">inbox</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="{{ url_for('sentbox') }}">sentbox</a>
                        </td>
                    </tr>
                </table>
        </div>
        <div class="col-xs-8">
            {% for mail in mails %}
            <table class="table table-hover">
                <tr>
                    <td>
                        <div><p> To: {{ mail.recipient }} <span class="pull-right">{{ moment(mail.timestamp).calendar() }}</span><br> <b>{{ remove_html_tags(mail.body) }}</b></p></div>
                    </td>
                </tr>
            </table>
            {% endfor %}
            <nav aria-label="...">
                <ul class="pager">
                    <li class="previous{% if not prev_url %} disabled{% endif %}">
                        <a href="{{ prev_url or '#' }}">
                            <span aria-hidden="true">&larr;</span> Newer mails
                        </a>
                    </li>
                    <li class="next{% if not next_url %} disabled{% endif %}">
                        <a href="{{ next_url or '#' }}">
                            Older mails <span aria-hidden="true">&rarr;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>






{% endblock %}


