{% extends "base.html" %}

{% block content %}
    <h1>User: {{ user.username }}</h1>
    <hr>
    {% for mail in mails %}
    <p>
    {{ mail.sender.username }} says: <b>{{ mail.body }}</b>
    </p>
    {% endfor %}
{% endblock %}